/* 12-styles.css */

/* Main article */
.main-article {
  padding: 5rem 0;
}

/* Post
    ============================= */
.post {
  display: flex;
}

.post-content {
  width: 100%;
}

.post-aside {
  order: -1;
  min-width: 20%;
}
