:root {
  --font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* First choice */
  --font-family-title: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* First choice */
}

/* Second choice */
:root {
  --font-family-base: Helvetica, 'Arial Black', sans-serif;
  --font-family-title: Helvetica, 'Arial Black', sans-serif;
}

/* Third choice */
:root {
  --font-family-base: Arial, sans-serif;
  --font-family-title: Arial, sans-serif;
}

/* Last choice */
:root {
  --font-family-base: sans-serif;
  --font-family-title: sans-serif;
}

body {
  font-family: var(--font-family-base); /* Set body's font-family to font-family-base */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-title); /* Set font-family for all headings to font-family-title */
}

/* Other declarations in the stylesheet... */
