:root {
  --font-family-base: 'Helvetica Neue', 
  --font-family-title: 'Helvetica Neue',
}
:root {
  --font-family-base: 'Helvetica',
  --font-family-title: 'Helvetica',
}
:root {
  --font-family-base: 'Arial',
  --font-family-title: 'Arial',
}
:root {
  --font-family-base: 'sans-serif';
  --font-family-title: 'sans-serif';
}

body {
  font-family: var(--font-family-base); /* Set body's font-family to font-family-base */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-title); /* Set font-family for all headings to font-family-title */
}

/* Other declarations in the stylesheet... */
