// 103-sort_list.scss

// First list to sort and debug
$list_to_sort_0: john anna zoe kim felicia carrie;
$sorted_list_0: sort($list_to_sort_0);
@debug "Sorted list 0: #{$sorted_list_0}";

// Second list to sort and debug
$list_to_sort_1: bob anna sylvain john ludo colin patrick;
$sorted_list_1: sort($list_to_sort_1);
@debug "Sorted list 1: #{$sorted_list_1}";
